<div class="flex flex-col gap-6 p-6">
    <span class="text-3xl font-inter text-zinc-900 dark:text-zinc-200">Financeiro</span>

    <div class="">
        <div class="relative flex ">
            <button class="transition-all duration-200 border-b-2 border-transparent" (click)="changeTab(0)"
                [class]="tab === 0 ? 'active-tab border-b-2 !border-purple-700' : 'inactive-tab'">
                Resumo
            </button>
            <button class="transition-all duration-200 border-b-2 border-transparent" (click)="changeTab(1)"
                [class]="tab === 1 ? 'active-tab border-b-2 !border-purple-700' : 'inactive-tab'">
                Entradas
            </button>
            <button class="transition-all duration-200 border-b-2 border-transparent" (click)="changeTab(2)"
                [class]="tab === 2 ? 'active-tab border-b-2 !border-purple-700' : 'inactive-tab'">
                Saídas
            </button>
            <button class="transition-all duration-200 border-b-2 border-transparent" (click)="changeTab(3)"
                [class]="tab === 3 ? 'active-tab border-b-2 !border-purple-700' : 'inactive-tab'">
                Pendências
            </button>
        </div>
        <div class="p-4">
            <div *ngIf="tab === 0">
                <app-resumo></app-resumo>
            </div>
            <div *ngIf="tab === 1">
                <app-entradas></app-entradas>
            </div>
            <div *ngIf="tab === 2">
                <app-saidas></app-saidas>
            </div>
            <div *ngIf="tab === 3">
                <app-pendencias></app-pendencias>
            </div>
        </div>

    </div>



</div>